body {
    padding-top: 0px;
    padding-bottom: 20px;
    border: 2rem solid sienna;
    border-image: linear-gradient(to top, sienna, bisque);
    border-image-slice: 1;
    border-radius: 100%;
}
.navbar navbar-expand-lg navbar-light bg-light{
    background-color: bisque !important;
}
.div {
}
.text{
    position:center;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5%;
    padding-right: 5%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.btn-large{
    margin: 5%;
    padding: 1rem;
    border-radius: 500px;
    width: 100%;
    height: 40%;
    background-color: olivedrab;
    }

.btn-primary{
    background-color: olivedrab;
}
.btn-success {
    background-color: olivedrab;
}
.btn{
    border-radius: 500px;
}
.nav navbar-nav navbar-right {
    text-decoration: none;
    color: inherit;
}



