@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application was designed to improve the tracability of our plant inventory.
    Without proper tracability or accountability product can easily be lost or stolen.</p>
